/* Roots */
:root{
    --height-nav: 50px;
}

/* Nav */
#nav_bar{
    height: var(--height-nav);
    background-color: rgba(248, 249, 250, 1);
}

/* Sidebar */
#sidebar{
    width: min-content;
    height: calc(100vh - var(--height-nav));
    background-color: darkblue;
    color: white;
}

/* Main table */
#main-table{
    width: 100%;
    height: calc(100% - 50px);
}

#header{  /* header */
    background-color: #1b72e8;
}

@media all and (min-width:576px) {
    #sidebar{
        width: 200px;
    }
}